# Working with spatially enabled dataframes

In this example, we're going to go through loading data as a spatially-enabled dataframe using the [Pandas](https://pandas.pydata.org/docs/) library.

# Import libraries
We'll import arcpy, arcgis.gis from the ArcGIS API for Python, and import Pandas with the alias pd as per convention.

In [1]:
import arcpy
from arcgis.gis import GIS
import pandas as pd

# Joining a shapefile with a table from a csv file
This example is an equivalent to the '[Join Field](https://pro.arcgis.com/en/pro-app/latest/tool-reference/data-management/join-field.htm)' geoprocessing tool. We'll read in a shapefile as a spatially-enabled dataframe, and read in a csv file as a regular Pandas dataframe, then join the two using the Pandas `.merge` function. 

First, we'll read in the shapefile and convert it to a spatially-enabled dataframe. Make sure you've downloaded and extracted the AHAH data for Bristol from https://data.cdrc.ac.uk/geodata-packs to the python_data folder in your project folder.

In [2]:
# Replace the path with a relative path
file = r".\python_data\Access_to_Healthy_Assets_and_Hazards_AHAH\Local_Authority_Districts\E06000023\shapefiles\E06000023.shp"
LSOA = pd.DataFrame.spatial.from_featureclass(file)
LSOA.head()

   FID   lsoa11cd                                              SHAPE
0    0  E01014485  {"rings": [[[360256.271, 174422.695], [360255,...
1    1  E01014486  {"rings": [[[359676.043, 174114.74], [359661.3...
2    2  E01014487  {"rings": [[[359036.633, 174653.14], [359035.2...
3    3  E01014488  {"rings": [[[359632.58, 174806.408], [359634.1...
4    4  E01014489  {"rings": [[[359120.567, 174097.45], [359120.3...

Let's take a look at the number of rows and columns in the dataframe by using the pandas `.shape` function.

In [3]:
LSOA.shape

(263, 3)

Next, we'll read in a csv file as a 'regular' dataframe using `pd.read_csv()` and take a look at the first 5 rows with the Pandas `.head()` function.

In [3]:
df = pd.read_csv(r"python_data\Access_to_Healthy_Assets_and_Hazards_AHAH\Local_Authority_Districts\E06000023\tables\E06000023.csv")
df.head()

    lsoa11cd      lsoa11nm  r_rank  ...  d_no2_mean  d_pm10_mean  d_so2_mean
0  E01014485  Bristol 023A   35286  ...           8            6           8
1  E01014486  Bristol 023B   34993  ...           8            6           7
2  E01014487  Bristol 020A   36285  ...           8            6           7
3  E01014488  Bristol 023C   35462  ...           8            6           8
4  E01014489  Bristol 023D   39888  ...           8            6           7

[5 rows x 50 columns]

Let's check the shape of this dataframe too.

In [5]:
df.shape

(263, 50)

We've got the same number of rows in this data table (one for each LSOA), but there are 50 columns. While we could merge all of these columns with our shapefile, it's tidier to just merge in the columns we want. To do this, we'll create a new subset dataframe called 'join_data' containing just the field we're going to join on (the LSOA code, `'lsoa11cd'`) and our variables of interest - in this example, `'no2_mean'`, `'pm10_mean'`, and `'so2_mean'`.

In [6]:
join_data = df[['lsoa11cd', 'no2_mean', 'pm10_mean', 'so2_mean']]
join_data.head()

    lsoa11cd   no2_mean  pm10_mean  so2_mean
0  E01014485  13.573317  13.376697  1.331312
1  E01014486  13.982219  13.297512  1.307590
2  E01014487  13.530668  13.257475  1.307112
3  E01014488  13.666415  13.360288  1.326760
4  E01014489  14.008808  13.316356  1.312781

We can now join the two data sources based on the `lsoa11cd` field using Pandas `.merge()` function.

In [7]:
join_df = LSOA.merge(join_data, on="lsoa11cd", how='left')
join_df.head()

   FID   lsoa11cd  ...  pm10_mean  so2_mean
0    0  E01014485  ...  13.376697  1.331312
1    1  E01014486  ...  13.297512  1.307590
2    2  E01014487  ...  13.257475  1.307112
3    3  E01014488  ...  13.360288  1.326760
4    4  E01014489  ...  13.316356  1.312781

[5 rows x 6 columns]

We can now save our new spatially enabled dataframe to our project geodatabase as a new feature class.

In [8]:
# TODO: Update the name of the geodatabase as required.
join_df.copy().spatial.to_featureclass(location=r".\Dataviz_ArcGIS_API_for_Python.gdb\AHAH_AQ_Bristol")

'C:\\EsriTraining\\VisualPythonAPI\\VisualPythonAPI\\Dataviz_ArcGIS_API_for_Python.gdb\\AHAH_AQ_Bristol'

In [10]:
join_df.copy().spatial.to_featureclass(location=r".\Dataviz_ArcGIS_API_for_Python.gdb\AHAH_AQ_Bristol")

In [15]:
# removes locks on database after writing files. TODO: Look for alternate methods, and root cause of lock.
arcpy.management.Compact(r"C:\EsriTraining\VisualPythonAPI\VisualPythonAPI\Dataviz_ArcGIS_API_for_Python.gdb")

In [12]:
# Update the name of the geodatabase as required.
join_df.spatial.to_featureclass(location=r".\Dataviz_ArcGIS_API_for_Python.gdb\AHAH_NonCopyTest")

'C:\\EsriTraining\\VisualPythonAPI\\VisualPythonAPI\\Dataviz_ArcGIS_API_for_Python.gdb\\AHAH_NonCopyTest'

 We can also export the spatially enabled dataframe as a shapefile if we save it outside a geodatabase and specify the extension '.shp'.

In [16]:
# Export to shapefile:
join_df.spatial.to_featureclass(location=r".\python_data\AHAH_Bristol.shp")

'C:\\EsriTraining\\VisualPythonAPI\\VisualPythonAPI\\python_data\\AHAH_Bristol.shp'

## Reading in point data from a csv file

We can read in a table of points with an X and Y column as a spatially enabled dataframe by loading it as a 'regular' pandas dataframe, then passing it to the `pd.DataFrame.spatial.from_xy()` function.

In [2]:
df = pd.read_csv(r'.\dft-road-casualty-statistics-accident-2020.csv') # for example
sedf = pd.DataFrame.spatial.from_xy(df,'longitude','latitude') # specify cols for X and Y
sedf.head()

sys:1: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.

  accident_index  ...                                              SHAPE
0  2020010219808  ...  {"spatialReference": {"wkid": 4326}, "x": -0.2...
1  2020010220496  ...  {"spatialReference": {"wkid": 4326}, "x": -0.1...
2  2020010228005  ...  {"spatialReference": {"wkid": 4326}, "x": -0.1...
3  2020010228006  ...  {"spatialReference": {"wkid": 4326}, "x": -0.0...
4  2020010228011  ...  {"spatialReference": {"wkid": 4326}, "x": -0.1...

[5 rows x 37 columns]

We can subset a Pandas dataframe using the Pandas `.query()` function. An example could be:

`subset_dataframe = dataframe.query('field_name == "something_in_field_name"')`

or 

`subset_dataframe = dataframe.query('field_name <= 70')`

Remember to use the equality operator (`==`), not the assignment operator (`=`).

In [43]:
sedf2 = sedf.query('lsoa_of_accident_location == "E01033355"')

In [47]:
sedf2.info

<bound method DataFrame.info of       accident_index  ...                                              SHAPE
80338  2020522000484  ...  {"spatialReference": {"wkid": 4326}, "x": -2.5...
80387  2020522000964  ...  {"spatialReference": {"wkid": 4326}, "x": -2.5...
80428  2020522001482  ...  {"spatialReference": {"wkid": 4326}, "x": -2.5...
80472  2020522001780  ...  {"spatialReference": {"wkid": 4326}, "x": -2.5...
80599  2020522002300  ...  {"spatialReference": {"wkid": 4326}, "x": -2.5...
80610  2020522002347  ...  {"spatialReference": {"wkid": 4326}, "x": -2.5...
80686  2020522002660  ...  {"spatialReference": {"wkid": 4326}, "x": -2.5...
80699  2020522002691  ...  {"spatialReference": {"wkid": 4326}, "x": -2.5...
80737  2020522002919  ...  {"spatialReference": {"wkid": 4326}, "x": -2.5...
80873  2020522003657  ...  {"spatialReference": {"wkid": 4326}, "x": -2.5...
81058  2020522004424  ...  {"spatialReference": {"wkid": 4326}, "x": -2.5...
81562  2020522101056  ...  {"spatialReference": {"wkid": 4326}, "x": -2.5...

[12 rows x 37 columns]>

In [44]:
sedf2.spatial.plot() # Try using .loc[row_indexer,col_indexer] = value instead

MapView(layout=Layout(height='400px', width='100%'))